definitions:
  mdl.Camera:
    properties:
      addr:
        description: 地址
        type: string
      code:
        description: 代码
        type: string
      firmware:
        description: 固件
        type: string
      id:
        description: 编码
        type: integer
      mfr:
        description: 厂商
        type: string
      model:
        description: 型号
        type: string
      name:
        description: 名称
        type: string
      password:
        description: 密码
        type: string
      state:
        description: 状态
        type: integer
      type:
        description: 类型
        type: string
      userName:
        description: 用户名
        type: string
    type: object
  mdl.VideoWall:
    properties:
      cameras:
        description: 摄像头集合
        items:
          type: string
        type: array
      id:
        description: 编码
        type: integer
      name:
        description: 名称
        type: string
    type: object
info:
  contact: {}
  description: '通用数据格式: {"code": "200", msg: "", data: object}, 其中 data 对应接口调用成功时数据格式.'
  title: 管理接口
  version: "1.0"
paths:
  /mgt/cameras:
    get:
      parameters:
      - default: 1
        description: 当前页
        in: query
        name: current
        type: integer
      - default: 10
        description: 页大小
        in: query
        name: size
        type: integer
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/mdl.Camera'
            type: array
      summary: 分页摄像头集合
      tags:
      - 摄像头
    post:
      parameters:
      - description: 摄像头
        in: body
        name: camera
        required: true
        schema:
          $ref: '#/definitions/mdl.Camera'
      responses:
        "200":
          description: OK
          schema:
            type: boolean
      summary: 保存摄像头
      tags:
      - 摄像头
  /mgt/cameras/{code}/ptz/{command}/{speed}:
    post:
      parameters:
      - description: 摄像头代码
        in: path
        name: code
        required: true
        type: string
      - description: '命令: Left-左, Right-右, Up-上, Down-下, LeftUp-左上, LeftDown-左下, RightUp-右上,
          RightDown-右下, ZoomIn-放大, ZoomOut-缩小'
        in: path
        name: command
        required: true
        type: string
      - default: 2
        description: '速度: 1-慢, 2-中, 3-快'
        in: path
        name: speed
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            type: boolean
      summary: 控制云台
      tags:
      - 摄像头
  /mgt/cameras/{code}/streams/{type}/snapshot:
    post:
      parameters:
      - description: 摄像头代码
        in: path
        name: code
        required: true
        type: string
      - default: 2
        description: '类型: 1-主码流, 2-子码流'
        in: path
        name: type
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            type: boolean
      summary: 抓取快照
      tags:
      - 摄像头
  /mgt/cameras/{code}/streams/{type}/start:
    post:
      parameters:
      - description: 摄像头代码
        in: path
        name: code
        required: true
        type: string
      - default: 2
        description: '类型: 1-主码流, 2-子码流'
        in: path
        name: type
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: 开始流
      tags:
      - 摄像头
  /mgt/cameras/{code}/streams/{type}/stop:
    post:
      parameters:
      - description: 摄像头代码
        in: path
        name: code
        required: true
        type: string
      - default: 2
        description: '类型: 1-主码流, 2-子码流'
        in: path
        name: type
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            type: boolean
      summary: 停止流
      tags:
      - 摄像头
  /mgt/cameras/{id}:
    get:
      parameters:
      - description: 编码
        in: path
        name: id
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/mdl.Camera'
      summary: 获取摄像头
      tags:
      - 摄像头
  /mgt/cameras/{ids}:
    delete:
      parameters:
      - description: 编码集合
        in: path
        name: ids
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: boolean
      summary: 移除摄像头集合
      tags:
      - 摄像头
  /mgt/screens/{id}:
    get:
      parameters:
      - description: 编码
        in: path
        name: id
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/mdl.VideoWall'
      summary: 获取视频墙
      tags:
      - 视频墙
  /mgt/videowalls:
    get:
      parameters:
      - default: 1
        description: 当前页
        in: query
        name: current
        type: integer
      - default: 10
        description: 页大小
        in: query
        name: size
        type: integer
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/mdl.VideoWall'
            type: array
      summary: 分页视频墙集合
      tags:
      - 视频墙
    post:
      parameters:
      - description: 视频墙
        in: body
        name: videoWall
        required: true
        schema:
          $ref: '#/definitions/mdl.VideoWall'
      responses:
        "200":
          description: OK
          schema:
            type: boolean
      summary: 保存视频墙
      tags:
      - 视频墙
  /mgt/videowalls/{ids}:
    delete:
      parameters:
      - description: 编码集合
        in: path
        name: ids
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: boolean
      summary: 移除视频墙集合
      tags:
      - 视频墙
  /mgt/videowalls/default:
    get:
      responses:
        "200":
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: 默认视频墙
      tags:
      - 视频墙
swagger: "2.0"
